	<style type="text/css">
		.rowType_2 > .sa{
			color: #FA5858;
			font-weight: bold;
		}

		.rowType_1 > .en{
			color: green;
			font-weight: bold;
		}

		.ex{
			color: blue;
			font-weight: bold;	
		}
	</style>
	<table class="table">
		<thead>
			<tr>
				<th>No</th>
				<th>Fecha de transacción</th>
				<th>Linea</th>
				<th>Estilo</th>
				<th>Color</th>
				<th>Talla</th>
				<th>Bodega</th>
				<th>Proveedor</th>
				<th>Concepto</th>
				<th>Documento</th>
				<th>Entradas</th>
				<th>Salidas</th>
				<th>Saldo</th>
			</tr>
			<!--<tr>
				<th >Cantidad</th>
				<th >Costo Unitario</th>
				<th >Costo Total</th>
				<th >Cantidad</th>
				<th >Costo Unitario</th>
				<th >Costo Total</th>
				<th >Cantidad</th>
				<th >Costo Unitario</th>
				<th >Costo Total</th>
			</tr>-->
		</thead>
		<!-- START kardex_result -->
			<tr class="rowType_{tipo}">
				<td>{no}</td>
				<td>{fecha}</td>
				<td>{linea}</td>
				<td>{estilo}</td>
				<td>{color}</td>
				<td>{talla}</td>
				<td class="kardexBodega_{bodega}" ></td>	
				<td>{nombre_proveedor}</td>
				<td>{concepto}</td>
				<td>{numero}</td>
				<td class="en" >{ent_cantidad}</td>
				<!--<td class="en" >{ent_costo_unitario}</td>
				<td class="en" >{ent_costo_total}</td>-->
				<td class="sa" >{sal_cantidad}</td>
				<!--<td class="sa" >{sal_costo_unitario}</td>
				<td class="sa" >{sal_costo_total}</td>-->
				<td class="ex" >{exi_cantidad}</td>
				<!--<td class="ex" >{exi_costo_unitario}</td>
				<td class="ex" >{exi_costo_total}</td>-->
			</tr>
 		<!-- END kardex_result -->
	</table>
